.text{
    color: #DDD;
    background-color: #000;
    padding: 1rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    max-width: 250px;
    position: relative;
    top: 80px;
    left: 25px;
    cursor: pointer;
    outline: none;
}
.text a{
    color: #DDD;
    text-decoration: none;
}



@media(min-width:750px) and (max-width:942px){
    .text{
        top: 50px;
        left: 25px;
    }
}
@media (max-width:749px){
    .text{
        top:20px;
        left: 90px;
    }
}